<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App reserveahora</title>

    <!-- Bootstrap -->
    <link href="../dist/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../assets/css/custom.css" rel="stylesheet" media="screen">

    <!-- Carousel -->
    <link href="../examples/carousel/carousel.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans|Roboto" rel="stylesheet">
    <!-- Font-Awesome -->
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css" media="screen" />
    <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->

    <!-- REVOLUTION BANNER CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="../css/fullscreen.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../rs-plugin/css/settings.css" media="screen" />
    <link rel="stylesheet" href="../assets/css/app.css">
    <!-- Picker UI-->
    <link rel="stylesheet" href="../assets/css/jquery-ui.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/git/jquery.mobile-git.css" />
    <link rel="stylesheet" href="../assets/css/jquery.mobile.datepicker.css" />
    <link rel="stylesheet" href="../assets/css/jquery.mobile.datepicker.theme.css" />
</head>



<body>

<body>
    <!-- header app -->
    <div class="header-app">
        <div class="father-logo">
            <a href="../app.html" class="a-logo-maxwidth"><img src="../images/reservelogo.png" alt=""></a>
            <a href="../app.html" class="a-logo-reserveahora"><img src="../images/Reserve-Ahora.png" alt=""></a>
        </div>
        <div class="div-father-items">
            <div class="dropdown">
                <button class="dropbtn">COP</button>
                <div class="dropdown-content">
                    <a href="#">€ euro</a>
                    <a href="#">mxn</a>
                    <a href="#">£ libra</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
					<a href="#"><div class="div-countryImg"></div></a>
				</button>
                <div class="dropdown-content">
                    <a href="#">
                        <div class="div-countryImgUsa"></div>
                    </a>
                    <a href="#">
                        <div class="div-countryAle"></div>
                    </a>
                    <a href="#">
                        <div class="div-countryImgPor"></div>
                    </a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">
					<a href="#"><a href="#" class="a-user"><i class="fas fa-user"></i></a></a>
				</button>
                <div class="dropdown-content">
                    <a href="#">Ingresar</a>
                    <a href="#">Regitrar</a>
                </div>
            </div>
            <h4 class="h4-login">Tu cuenta</h4>
        </div>
    </div>
    <!-- end header app -->
    <!-- content app list -->
    <div class="container breadcrub">
        <div>
            <a class="homebtn left" href="#"></a>
            <div class="left">
                <ul class="bcrumbs">
                    <li>/</li>
                    <li><a href="#">Hotels</a></li>
                    <li>/</li>
                    <li><a href="#">U.S.A.</a></li>
                    <li>/</li>
                    <li><a href="#" class="active">New York</a></li>
                </ul>
            </div>
            <a class="backbtn right" href="#"></a>
        </div>
        <div class="clearfix"></div>
        <div class="brlines"></div>
    </div>
    <!-- CONTENT -->
    <div class="container">
        <div class="container pagecontainer offset-0">

            <!-- FILTERS -->
            <div class="col-md-3 filters offset-0">
                <!-- END OF BOOK FILTERS -->
                <div>
                    <form action="" class="form-app2" method="POST" autocomplete="on">
                        <h3 class="h3-info">Buscar</h3>
                        <p class="p-info">Desde casas acogedoras hasta modernos apartamentos</p>
                        <div class="div-father-input-from2">
                            <select class="input-adults2" name="itemName" id="city-app"></select>
                        </div>
                        <div class="div-father-dates2">
                            <input type="text" id="checkin-app" class="input-date2 calendar Datepicker" placeholder="Check In" value="" data-role="date">
                            <input type="text" id="checkout-app" class="input-date2 calendar Datepicker" placeholder="Check Out" value="" data-role="date">
                        </div>
                        <div class="div-father-dates2">
                            <input type="number" id="rooms-app" class="input-adults2" placeholder="Habitaciones">
                            <input type="number" id="adults-app" class="input-adults2" placeholder="Adultos">
                            <input type="number" id="childrens-app" class="input-childrens2" placeholder="Niños">
                        </div>
                        <a href="list.html" id="sendData" class="button-send2">Enviar</a>
                    </form>
                </div>
                <div class="line2"></div>

                <div class="padding20title">
                    <h3 class="opensans dark">Filtros:</h3>
                </div>
                <div class="line2"></div>


                <!-- Star ratings -->
                <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
				  Tú presupuesto <span class="collapsearrow"></span>
				</button>

                <div id="collapse1" class="collapse in">
                    <div class="hpadding20">
                        <div class="checkbox">
                            <div class="div-priceApp">
                                <label>
                                    <input type="text" placeholder="$"><img src="../images/filter-rating-5.png" class="imgpos1" alt=""/> Desde
                                </label>
                                <label>
                                    <input type="text" placeholder="$"><img src="../images/filter-rating-5.png" class="imgpos1" alt=""/>Hasta
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of Star ratings -->

                <div class="line2"></div>

                <!-- Price range -->
                <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
				  Price range <span class="collapsearrow"></span>
				</button>

                <div id="collapse2" class="collapse in">
                    <div class="padding20">
                        <div class="layout-slider wh100percent">
                            <span class="cstyle09"><input id="Slider1" type="slider" name="price" value="400;700" /></span>
                        </div>
                    </div>
                </div>
                <!-- End of Price range -->

                <div class="line2"></div>

                <!-- Acomodations -->
                <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse3">
				  Filtros por estrellaS<span class="collapsearrow"></span>
				</button>

                <div id="collapse3" class="collapse in">
                    <div class="hpadding20">
                        <div class="radio">
                            <label>
							<input type="radio" name="optionsRadios2" id="Acomodation1" value="option1" checked>
							1
						  </label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="optionsRadios2" id="Acomodation2" value="option2">
							2
						  </label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="optionsRadios2" id="Acomodation3" value="option3">
							3
						  </label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="optionsRadios2" id="Acomodation4" value="option4">
							4
						  </label>
                        </div>
                        <div class="radio">
                            <label>
							<input type="radio" name="optionsRadios2" id="Acomodation5" value="option5">
							5
						  </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of Acomodations -->

                <div class="line2"></div>

                <!-- Hotel Preferences -->
                <button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
				  Comidas <span class="collapsearrow"></span>
				</button>
                <div id="collapse4" class="collapse in">
                    <div class="hpadding20">
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Desayuno
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Almuerzo
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Cena
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Todas las comidas
							</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of Hotel Preferences -->
                <div class="line2"></div>

                <!-- Hotel Preferences -->
                <button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
				    Tipo de alojamiento<span class="collapsearrow"></span>
				</button>
                <div id="collapse4" class="collapse in">
                    <div class="hpadding20">
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Hotel
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Hostal
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Apartamento
							</label>
                        </div>
                        <div class="checkbox">
                            <label>
							  <input type="checkbox">Apartahotel
							</label>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- End of Hotel Preferences -->
                <div class="line2"></div>
                <div class="clearfix"></div>
                <br/>
                <br/>
                <br/>


            </div>
            <!-- END OF FILTERS -->

            <!-- LIST CONTENT-->
            <div class="rightcontent col-md-9 offset-0">

                <div class="hpadding20">
                    <!-- Top filters -->
                    <div class="topsortby">
                        <div class="col-md-4 offset-0">



                        </div>
                        <div class="col-md-4">
                            <div class="w50percent">
                                <div class="wh90percent">
                                    <select class="form-control mySelectBoxClass ">
									  <option selected>Name</option>
									  <option>A to Z</option>
									  <option>Z to A</option>
									</select>
                                </div>
                            </div>
                            <div class="w50percentlast">
                                <div class="wh90percent">
                                    <select class="form-control mySelectBoxClass ">
									  <option selected>Price</option>
									  <option>Ascending</option>
									  <option>Descending</option>
									</select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 offset-0">
                            <button class="popularbtn left">Most Popular</button>
                            <div class="right">
                                <button class="gridbtn" onClick="window.open('list2.html','_self');">&nbsp;</button>
                                <button class="listbtn active">&nbsp;</button>
                                <button class="grid2btn" onClick="window.open('list3.html','_self');">&nbsp;</button>
                            </div>
                        </div>
                    </div>
                    <!-- End of topfilters-->
                </div>
                <!-- End of padding -->

                <br/><br/>
                <div class="clearfix"></div>


                <div class="itemscontainer offset-1 content"></div>
                <!-- End of offset1-->

                <div class="hpadding20">

                    <ul class="pagination right paddingbtm20">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>

                </div>

            </div>
            <!-- END OF LIST CONTENT-->



        </div>
        <!-- END OF container-->
    </div>
    <!-- footer -->
    <div class="div-footerApp">
        <div class="divContentLogo">
            <img src="../images/reserve.png" alt="">
        </div>
        <div class="divContentItems">
            <div>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
            </div>
            <div>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
            </div>
            <div>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
                <a href="#">Hola</a>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="div-social">
        <div class="div-subSocial">
            <a href="#" class="social1b"><img src="../images/icon-facebook.png" alt=""/></a>
            <a href="#" class="social2b"><img src="../images/icon-twitter.png" alt=""/></a>
            <a href="#" class="social3b"><img src="../images/icon-gplus.png" alt=""/></a>
            <a href="#" class="social4b"><img src="../images/icon-youtube.png" alt=""/></a>
        </div>
    </div>
    <!-- end foooter -->
    <!-- menumobile -->
    <div class="div-menu-mobile">
        <div class="div-item-mobile">
            <a href="#"><i class="fas fa-home fa"></i></a>
            <label for="">hoteles</label>
        </div>
        <div class="div-item-mobile">
            <a href="#"><i class="fas fa-home fa"></i></a>
            <label for="">hoteles</label>
        </div>
        <div class="div-item-mobile">
            <a href="#"><i class="fas fa-home fa"></i></a>
            <label for="">hoteles</label>
        </div>
    </div>
    <script src="../assets/js/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $('#sendData').click(function(e){
                e.preventDefault();
                setTimeout(function(){
                    window.location.href = "list.html"    
                    console.log("listo");
                },5000);
    		});
    	$('#city-app').select2({ 
          placeholder: 'Selecciona ciudad',
          ajax: {
            url: 'http://f671018f.ngrok.io/api/v1/cities',
            url: 'https://8a63ce94.ngrok.io/api/v1/cities',
            dataType: 'json',
            delay: 250,
            processResults: function (data) {
              return {
                results:  $.map(data, function (item) {
    				return {
    					  // local:sessionStorage.setItem("idcityApp", JSON.stringify(item.id)),
                          text: item.city,
                          id: item.id
                      }
                  })
              };
            },
            cache: true
          }
    	});
    	$(function() {
    		    $("#checkin-app").datepicker({
    		        defaultDate: "+0",
    		        dateFormat: "yy-mm-dd",
    		        minDate: "+0",
    		        onSelect: function(dateText, inst) {
    		            var d = $.datepicker.parseDate(inst.settings.dateFormat, dateText);
    		            d.setDate(d.getDate() + 1);
    		            $("#checkout-app").val($.datepicker.formatDate(inst.settings.dateFormat, d));
    		        },
    
    		        onClose: function(selectedDate) {
    		            $("#checkout-app").datepicker("option", "minDate", selectedDate);
    		        }
    		    });
    		});
    		$(function() {
    		    $("#checkout-app").datepicker({
    		        defaultDate: "+0",
    		        dateFormat: "yy-mm-dd",
    		        minDate: "+0",
    		        onSelect: function(dateText, inst) {
    		            var d = $.datepicker.parseDate(inst.settings.dateFormat, dateText);
    		            d.setDate(d.getDate() + 1);
    		            $("#checkout-app").val($.datepicker.formatDate(inst.settings.dateFormat, d));
    		        },
    
    		        onClose: function(selectedDate) {
    		            $("#checkout-app").datepicker("option", "minDate", selectedDate);
    		        }
    		    });
    		});
    </script>
    <!-- endmenumobile -->
    <!-- end content app list -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" integrity="sha384-Voup2lBiiyZYkRto2XWqbzxHXwzcm4A5RfdfG6466bu5LqjwwrjXCMBQBLMWh7qR" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="../assets/js/jquery.mobile.datepicker.js"></script>
    <script src="../assets/js/external/jquery-ui/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <!-- Javascript -->
    <script src="../assets/js/app.js"></script>
    <!-- This page JS -->
    <script src="../assets/js/js-index3.js"></script>

    <!-- Custom functions -->
    <script src="../assets/js/functions.js"></script>

    <!-- Picker UI-->
    <script src="../assets/js/jquery-ui.js"></script>

    <!-- Easing -->
    <script src="../assets/js/jquery.easing.js"></script>

    <!-- jQuery KenBurn Slider  -->
    <script type="text/javascript" src="../rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Nicescroll  -->
    <script src="../assets/js/jquery.nicescroll.min.js"></script>

    <!-- CarouFredSel -->
    <script src="../assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="../assets/js/helper-plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.transit.min.js"></script>
    <script type="text/javascript" src="../assets/js/helper-plugins/jquery.ba-throttle-debounce.min.js"></script>

    <!-- Custom Select -->
    <script type='text/javascript' src='../assets/js/jquery.customSelect.js'></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../dist/js/bootstrap.min.js"></script>
</body>

</html>